<div id="canvas-wrapper">
  <div class="p-2" id="canvas-navbar">
    <div class="">
      <input class="me-2 d-inline-block" type="color" id="color-select" />
      <button type="button" class="mx-1 d-inline-block btn btn-sm btn-primary" onclick="editImage()">Edit</button>
    </div>
    <div class="">
      <button type="button" class="mx-1 d-inline-block btn btn-success btn-sm" onclick="saveImage()"><i class="bi bi-floppy-fill"></i></button>
      <button type="button" class="mx-1 d-inline-block btn btn-secondary btn-sm" onclick="downloadImage()"><i class="bi bi-download"></i></button>
      <button type="button" class="mx-1 d-inline-block btn btn-danger btn-sm" onclick="closeOverlay()"><i class="bi bi-x-octagon-fill"></i></button>
    </div>
  </div>
  <div id="canvas-inner">
    <div id="">
      <div id="canvas-container">
        <canvas id="drawing-canvas" width="800" height="600"></canvas>
      </div>
    </div>
  </div>
</div>
